<template>
    <div class="mt-3">
        <vh-table
            :columsn="columns"
            :from="init.from"
            :to="init.to"
            :total="init.total"
            :prevPage="init.prevPage"
            :nextPage="init.nextPage"
            :items="init.data"
        >
            <template slot="orderCustomer" slot-scope="{item}">{{ item.customer.first_name }} {{ item.customer.last_name }}</template>

            <template slot="action" slot-scope="{item}">
                <div class="flex items-center">
                    <vh-dropdown>
                        <a class="flex ant-dropdown-link" href="#">
                            <span>Actions</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-4 text-gray-500">
                                <path class="heroicon-ui" d="M15.3 9.3a1 1 0 011.4 1.4l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4l3.3 3.29 3.3-3.3z"/>
                            </svg>
                        </a>

                        <template slot="dropdown-content">
                            <div class="relative z-10 w-32 py-3 mt-2 bg-white border border-gray-200">
                                <a class="block w-full px-3 mb-2" :href="show(item)">Show</a>
                                <a href="#" class="block w-full px-3 mb-2" @click.prevent="changeStatus(item, $event)">
                                    Change Status
                                </a>
                                <a href="#" class="block w-full px-3 mb-2" @click.prevent="addTrackingCode(item, $event)">
                                    Add Tracking
                                </a>
                                <a class="block w-full px-3 mb-2" :href="downloadOrder(item)">
                                    Download Invoice
                                </a>
                                <a class="block w-full px-3 mb-2" :href="emailInvoice(item)">
                                    Email Invoice
                                </a>
                                <a class="block w-full px-3 mb-2" :href="shippingLabel(item)">
                                    Shipping Label
                                </a>
                            </div>
                        </template>
                    </vh-dropdown>
                </div>
            </template>
        </vh-table>

        <vh-modal modal-title="Change Track Code" @close="trackCodeModal = false" :is-visible="trackCodeModal">
            <div class="block">
                <vh-input
                    label-text="Tracking Code"
                    field-name="track_code"
                    :init-value="track_code"
                    v-model="track_code"
                ></vh-input>

                <div class="py-3 mt-3">
                    <button type="button" @click="trackCodeOk" class="px-3 py-2 text-white bg-red-600 rounded hover:text-white hover:bg-red-700">
                        <svg xmlns="http://www.w3.org/2000/svg" class="inline-flex w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M0 2C0 .9.9 0 2 0h14l4 4v14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5 0v6h10V2H5zm6 1h3v4h-3V3z"/>
                        </svg>
                        <span class="ml-3">Save</span>
                    </button>

                    <button type="button" @click="trackCodeCancel" class="px-3 py-2 text-white bg-gray-500 rounded font-xs hover:text-white hover:bg-gray-600">
                        <span class="">Cancel</span>
                    </button>
                </div>
            </div>
        </vh-modal>

        <vh-modal modal-title="Change Order Status" @close="changeStatusModal = false" :is-visible="changeStatusModal">
            <div class="w-full">
                <vh-select
                    label-text="Order Status"
                    field-name="order_status_id"
                    :init-value="currentRecord.order_status_id"
                    :options="orderStatuses"
                    v-model="changeStatusId"
                ></vh-select>

                <div class="py-3 mt-3">
                    <button type="button" @click="changeStatusOk" class="px-3 py-2 text-white bg-red-600 rounded hover:text-white hover:bg-red-700">
                        <svg xmlns="http://www.w3.org/2000/svg" class="inline-flex w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M0 2C0 .9.9 0 2 0h14l4 4v14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5 0v6h10V2H5zm6 1h3v4h-3V3z"/>
                        </svg>
                        <span class="">Save</span>
                    </button>

                    <button type="button" @click="changeStatusCancel" class="px-3 py-2 text-white bg-gray-500 rounded font-xs hover:text-white hover:bg-gray-600">
                        <span class="">Cancel</span>
                    </button>
                </div>
            </div>
        </vh-modal>
    </div>
</template>

<script>
    const columns = [
        {
            label: "ID",
            fieldKey: "id"
        },
        {
            label: "Shipping Options",
            fieldKey: "shipping_option"
        },
        {
            label: "Payment Options",
            fieldKey: "payment_option"
        },
        {
            label: "Customer",
            slotName: "orderCustomer"
        },
        {
            label: "Actions",
            slotName: "action"
        }
    ];

    export default {
        props: ['baseUrl', 'init', 'orderStatuses'],
        data() {
            return {
                columns,
                changeStatusId: null,
                track_code: '',
                trackCodeModal: false,
                changeStatusModal: false,
                currentRecord: {}
            };
        },
        methods: {
            show(record) {
                return this.baseUrl + '/order/' + record.id;
            },
            trackCodeOk(e) {
                let data = {
                    track_code: this.track_code
                };
                let url = this.baseUrl + '/save-order-track-code/' + this.currentRecord.id;
                var app = this;

                axios.post(url, data).then(response => {
                    if (response.data.success === true) {
                        app.$notification.success({
                            key: "save.order.track.code.success",
                            message: response.data.message
                        });
                    }

                    window.location.reload();

                    app.trackCodeModal = false;
                })
                .catch(errors => {
                    app.$notification.error({
                        key: "save.order.track.code.error",
                        message: errors.message
                    });
                });
            },
            changeStatus(record, e) {
                e.preventDefault();

                this.currentRecord = record;
                this.changeStatus = record.order_status_id;
                this.changeStatusModal = true;
            },
            addTrackingCode(record, e) {
                e.preventDefault();

                this.currentRecord = record;
                this.track_code = record.track_code;
                this.trackCodeModal = true;
            },
            trackCodeCancel() {
                this.trackCodeModal = false;
            },
            changeStatusCancel() {
                this.changeStatusModal = false;
            },
            showUrl(record) {
                return this.baseUrl + '/order/' + record.id;
            },
            changeStatusDropdown(val) {
                this.changeStatusId = val;
            },
            downloadOrder(record) {
                return this.baseUrl + '/order-download-invoice/' + record.id;
            },
            getOrderStatus(statusId) {
                var index;
                index = this.orderStatus.findIndex(ele => {
                    return ele.id === statusId;
                });

                if (index >= 0) {
                    return this.orderStatus[index].name;
                }

                return "";
            },
            emailInvoice(record) {
                return this.baseUrl + '/order-email-invoice/' + record.id;
            },
            shippingLabel(record) {
                return this.baseUrl + "/order-shipping-label/" + record.id;
            },
            changeStatusOk() {
                let data = {
                    order_status_id: this.changeStatusId[0]
                };
                let url = this.baseUrl + '/order-change-status/' + this.currentRecord.id;
                var app = this;

                axios.post(url, data).then(response => {
                    if (response.data.success === true) {
                        app.$alert(response.data.message)
                    }

                    window.location.reload();
                }).catch(errors => {
                    app.$alert(errors.message)
                });
            },
        }
    };
</script>
