<template>
    <Transition name="fade">
        <div v-if="visible" :class="type" class="notification-wrap rounded-md flex items-center shadow-md p-6 pr-10">
            <div class="flex items-center">
                <p class="text-sm mr-5" :class="type">
                    {{ notification }}
                </p>
                <p class="text-sm" @click="visible = false">
                    <heroicon icon="close" class="fill-current h-4 w-4" :class="type ? 'error' : 'success'"></heroicon>
                </p>
            </div>
        </div>
    </Transition>
</template>

<script>
    // const type = {
    //     'error': 'bg-red-200 text-red-900',
    //     'success': 'bg-green-200 text-green-900'
    // };

    export default {
        name: 'vh-notification',
        props: ['type', 'message'],
        data() {
            return {
                visible: false,
                notification: this.message,
                type: this.type,
                extraClass: '',
                timeout: null
            };
        },
        methods: {
            close() {
                this.visible = false;
                this.$emit('close');

                this.timeout = setTimeout(() => {
                    this.visible = false;
                }, 5000);
            },
            show() {
                this.visible = true;
                this.close();
            }
        },
        mounted() {
            EventBus.$on('flash', (message, type) => {
                this.notification = message;
                this.type = type;
                this.show();
            });

            this.timeout = setTimeout(() => {
                this.close();
            }, 5000);
        }
    }
</script>

<style scoped>
    .notification-wrap {
        right: 20px;
    }
</style>
